<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body> 
  <a href="/"> Lien vers la page index </a>
  <a href="/contact"> Lien vers la page contact </a>
  <a href="/team"> Lien vers la page équipe </a>
  <a href="/posts">Lien vers la page posts </a> 
  <a href="/eleves"> Lien vers élèves </a>
  <br> 
  {% block content %} {% endblock %}
</body>
</html>